@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    background-color: #222326 !important;
    color: #fff !important;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
}

.link{
    text-decoration: none;
    color: #fff;
}

.link:hover{
    text-decoration: underline;
    color: #fff;
}

.login{
    float: right;
    margin-top: -3%; 
}

.title{
    color: #1db954;
}

.music-list{
    border-bottom: 1px solid rgb(112, 112, 112);
    margin: 0% 10% 0% 10% !important; 
    padding-top: 1%;
    padding-bottom: 1%;
}

.music-list:hover{
    background-color: rgba(211, 211, 211, 0.5);
}

.mar{
    padding-right: 3.5% !important;
}

.music-list-title{
    border-bottom: 1px solid rgb(112, 112, 112);
    margin: 0% 10% 0% 10% !important;
    padding-top: 1%;
    padding-bottom: 1%;
    color: rgba(211, 211, 211, 0.5);
    font-weight: bold;    
}
